@import "tailwindcss";

@font-face {
  font-family: "Nunito";
  src: url("../src/assets/fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
}

@theme {
  /* === Colors === */
  --color-primary: #f4e041;
  --color-secondary: #00bdd3;
  --color-disabled: #d0cfcf;
  --color-error: #cb3d40;
  --color-background: #f8f8f8;

  /* === Fonts === */
  --font-*: initial;
  --font-sans: "Nunito", sans-serif;

  /* Typography Tokens (Tailwind-compliant) */
  --text-heading: 2.5rem; /* 40px */
  --text-heading--line-height: 2.5rem; /* 40px */

  --text-body: 1rem; /* 16px */
  --text-body--line-height: 1rem; /* 16px */
}
